.border{
    background-color: #E5D283;
    height: 2.5px;
    border-radius: 2px;
}

.borderContainer {
    width: 100%;
    margin: 5px 0px;
    padding: 0% 15%;
    background-color: white;
}

.allBtn {
    width: 120px;
    height: 40px;
    border: 2px solid #E5D283;
    color: #E5D283;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
}

.allBtn:hover {
    color:rgb(185,65,105);
    border: 2px solid rgb(185,65,105);
}

.mainHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 25px 0px 20px 0px;
    color: black;
}

.loader {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 12;
    width: 100px;
    height: 100px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 323;
    color: green;
    font-size: 3.5rem;
    font-weight: 700;
    
}

.carousel-container {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .carousel-item {
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }

  .blogContainer {
   
    padding: 20px 5%;
   
  }
  .blogContainer div {
    font-weight: 700;
    font-size: 1.5rem;
    color: #E5D283;
  }
  .blogContainer div:hover{
    cursor: pointer;
    color:rgb(185,65,105);
  }
  