.schedule-main{
    border-top: 1px solid #E5D283;
    border-bottom: 1px solid #E5D283;
    
    padding: 3% 4%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
}

#schedule{
    padding: 5% 15% 2% 15%;
    height: 880px;
    background-color: white;
    color: white;
    margin-top: 45px;
}

.schedule-heading{
    font-size: 1.4rem;
    font-weight: 500;
}

.contain {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.time-category{
    width: 100%;
    display: flex;
    gap: 10px;
}
.time{
    width: 35%;
    font-weight: 600;
    font-size: 1.2rem;
}

.category{
    width: 65%;
    font-weight: 400;
    font-size: 1.2rem;
}

.day{
    width: 30%;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: right;
}

.member{
    text-decoration: underline;
    font-weight: 500;
}
.member:hover {
    color: rgb(185, 65, 105);
    cursor: pointer;

  }

  @media only screen and (max-width: 650px) {
    .time .category .day{
        
        
        font-size: 1rem;
    }
    .contain{
        width: 60%;
    }
    
    .schedule-heading{
        font-size: 1.1rem;
    }
    #schedule{
        padding: 5% 10% 2% 10%;
    }
  }

  @media only screen and (max-width: 450px) {
    .time .category .day{
        
        
        font-size: .8rem;
    }
    .contain{
        width: 70%;
    }
    #schedule{
        padding: 5% 8% 2% 8%;
        height: 800px;
    }
    
    .schedule-heading{
        font-size: 1rem;
    }
  }

