.container{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 1% 8%;
    width: 100%;
    background-color: white;
    color: black;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 20px;

}
.dfc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 14px;
}

.imgContainer{
    width: 45%;
    max-height: 320px;
}
.name{
    
}
.image{
    width: 100%;
    border-radius: 5px;
}

.heading {
    font-weight: 600;
    font-size: 1.25rem;
}