.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 400;
}

.quote-container {
    width: 40%;
    /* height: 30%; */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    color: rgb(57, 56, 56);
    font-weight: 500;
    opacity: 0.9;
    text-align: center;
    font-weight: 600;
    
}
.author {
    display: flex;
    justify-content: end;
    width: 100%;
    
}

.dot-container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(232, 228, 228);
}

@media only screen and (max-width: 700px) {
    .dot-container{
        width: 25%;
    }
    .quote-container{
        width: 60%;
        
    }
    .container1{
        height: 320px;
        background-position: center;
    }
  }
  @media only screen and (max-width: 400px) {
    .dot-container{
        width: 30%;
    }
    .quote-container{
        width: 60%;
        font-size: 12px;
    }
    .container1{
        height: 300px;
        background-position: center;
    }
    
  }