.main-container {
    padding: 0 10%;
    background-color: #ffffff;
    color: black;
}


.dfc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
}
.text-container{
    padding: 10px;
    border: 1.5px solid #E5D283;
    width: 70%;
    position: absolute;
    top: 28%;
    left: 30%;
    border-radius: 5px;
}
.about-container {
    display: flex;
    width: 99%;
    position: relative;
    padding-top: 50px;
}
#name{
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    color: #E5D283;
}
.p-container{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: black;
    font-weight: 500;
}
p{
    margin: 5px 0 5px 0;
}

.pic-container{
    width: 35%;
    border-radius: 10px;
    opacity: 0.9;
    
}
@media only screen and (max-width: 950px) {
    .main-container {
        padding: 0 10px;
    }
    .heading {
        font-size: 1.25rem;
        margin: 1rem 0 1rem 0;
    }
    #name{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .text-container{
        top: 15%;
        left: 18%;
        width: 80%;
    }
    .p-container{
        font-size: 12px;
    }
    .pic-container{
        width: 45%;
        opacity: 0.5;
    }
  }

  @media only screen and (max-width: 450px) {
    
    .heading {
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
    }
    #name{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .text-container{
        left: 5%;
        width: 95%;
    }
    
    .pic-container{
        width: 85%;
        opacity: 0.2;
    }
  }
