.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-container {
  
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
}



/* ImageCarousel.css */
.scrolling-container {
  width: 100%; /* Adjust the width to display 4 images at a time */
  overflow: hidden;
  padding: 25px 0px;
}

.scrolling-content {
  display: flex;
  gap: 8px;
  animation: scroll 15s linear infinite; /* Adjust the duration as needed */
}

.image-container {
  flex: 0 0 25%; 
  height: 250px;
  overflow: hidden;
}
.insta-pic {
  border-radius: 4px;
  border: 1px solid red;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-25%);
  }
  40% {
    transform: translateX(-50%);
  }
  60% {
    transform: translateX(-75%);
  }
  80% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@media (max-width: 600px) {
  .image-container {
    flex: 0 0 55%; 
  
  }
}


.insta-pics:hover{
    background-color: black;
    opacity: .2;
}



